.designIntegration {
    margin-top: 90px;
}
.designIntegrationGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 30px;
}
.designIntegrationGroup h1 {
    color: #242f51;
    font-size: 40px;
    font-weight: 400;
    text-transform: inherit;
}
.designIntegrationGroup p {
    font-size: 1rem;
    color: #616368;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 20px;
}
.designIntegrationGroup button {
    border-radius: 15px;
    background-color: #2500f9;
    padding: 10px 20px;
    color: #ffffff;
    text-transform: capitalize;
    border-style: none;
    margin-top: 30px;
}